.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #333333;
  transition: height .3s linear;
  overflow: hidden;
  z-index: 99;
}

.bigNav {
  height: 140px;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.navLeft, .navRight{
    height: 60px;
}

.navLeft {
  float: left;
  width:300px;
}

.navLeft>a {
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  text-decoration: none;
}

.navRight {
  float: right;
}

.menuBtn {
  border: 2px solid #ffffff;
  border-radius: 4px;
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

.linkBox {
  float: left;
  width: 80px;
  height: 100%;
  line-height: 60px;
  text-align: center;
}

.link {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.active {
  color: #ffffff;
}


/*모바일 css*/
@media all and (max-width: 800px){
  .container {
    width: 100%;
  }

  .navLeft, .navRight {
    float: none;
    width: 100%;
  }

  .navLeft {
    padding-left: 10px;
  }

  .menuBtn {
    display: block;
  }

  .linkBox {
    float: none;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
  }
}
